html {
    margin: auto;
    font-family: "BM Hanna", sans-serif;
    font-size: 130%;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

.section {
    margin: auto;
    padding-top: 25px;
    max-width: 750px;
}

.big-accent-text {
    font-family: "BM Hanna", sans-serif;
    font-size: 400%;
}

@font-face {
    font-family: "BM Hanna";
    src: url("https://www.woowahan.com/fonts/BMHANNA_11yrs_otf.otf") format("embedded-opentype"), url("https://www.woowahan.com/fonts/BMHANNA_11yrs_ttf.ttf") format("truetype"), url("https://www.woowahan.com/fonts/BMHANNA_11yrs.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
